.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.smurf__form{
margin: 10px;
padding: 10px;
border: 1px solid black;
background-color: rgb(118, 240, 230);
border-radius: 10px;

}
.smurf__card{
  margin: 10px;
padding: 10px;
border: 1px solid black;
background-color: rgb(140, 255, 245);
border-radius: 10px;
color: rgb(0, 153, 255);
}